<div class="container">
    <nav>
        <img src="./assets/logo.png">
        Rent Collection
        <img class="profile" src="./assets/profile_icon.png">



    </nav>

    <div class="container2">

        <div class="sidebar">
            <ul>
                <li><a class="side-link" href="#">Dashboard</a></li>
                <li><a class="side-link" href="#">Due Payments</a></li>
                <li><a class="side-link" href="#">Paid Payments</a></li>
                <li><a class="side-link" href="#">On Rent</a></li>
            </ul>
            <p>Rental</p>
            <ul>
                <li><a class="side-link" href="#">Add Rental</a></li>
                <li><a class="side-link" href="#">View Rentals</a></li>
                <li><a class="side-link" href="#">Allocate</a></li>
                
            </ul>

        </div>
        <div class="content">
            <div class="header">
                Dashboard
            </div>

            <div class="boxes">
                <div class="box box1">
                    <h4>Total Rent Collection</h4>
                    <p>1 Month</p>
                    <h5>Rs 30100.00</h5>
                </div>
                <div class="box box2">
                    <h4>Total Rent Collection</h4>
                    <p>1 Month</p>
                    <h5>Rs 30100.00</h5>
                </div>
                <div class="box box3">
                    <h4>Total Rent Collection</h4>
                    <p>1 Month</p>
                    <h5>Rs 30100.00</h5>
                </div>
                <div class="box box4">
                    <h4>Total Rent Collection</h4>
                    <p>1 Month</p>
                    <h5>Rs 30100.00</h5>
                </div>
            </div>
            <div class="stats">
                <div class="stat-box1">
                    <img class="stat1" src="./assets/stats1.png">
                </div>
                <div class="stat-box2">
                    <img class="stat1" src="./assets/stats1.png">
                </div>
            </div>
            <div class="footer">
                <p>Net Payment information is shown in cards</p>
            </div>

        </div>
    </div>


</div>