h1 {
    color: red;
}
#Harshit{
    background-color: black;
    display: inline;
    color: antiquewhite;
    text-align: center;
    font-size: large;
}
#Harshit:hover{
    background-color: red;
    color: azure;
}